
StoreWebApplication.DataAccess/bin/Debug/net10.0/

StoreWebApplication.Models/bin/

StoreWebApplication/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/

StoreWebApplication/obj/Debug/net10.0/refint/

StoreWebApplication/obj/Debug/net10.0/

StoreWebApplication/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/bin/Debug/net10.0/

StoreWebApplication.Models/obj/Debug/net10.0/

StoreWebApplication.Utility/obj/

StoreWebApplication.DataAccess/.DS_Store

StoreWebApplication.DataAccess/bin/.DS_Store

StoreWebApplication.DataAccess/bin/Debug/.DS_Store

StoreWebApplication.DataAccess/obj/.DS_Store

StoreWebApplication.DataAccess/obj/Debug/net10.0/ref/

*.dll

"StoreWebApplication/bin//Debug/

.DS_Store

.idea/

StoreWebApplication.DataAccess/obj/Debug/

StoreWebApplication.DataAccess/obj/

StoreWebApplication.Models/obj/

*.user

StoreWebApplication/bin/

StoreWebApplication/obj/
